.news{
    img, video{
        width: 20%;
        margin-top: 0.5%;
    }

    @media screen and (max-width: 480px) {
        img, video{
            width: 60%;
            margin-top: 0.5%;
        }
    }
    pre{white-space: pre-wrap;}
}