
*{
    font-family: "IBM Plex Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    img{
        border: solid 3px black; 
        border-radius: 8px;
        margin-left: 1%;
        width: 7%;
        @media screen and (max-width: 480px) {
            width: 80%;
        }
    }
}

.aragon-nav {
    font-size: xx-large;
}

footer{
    background-color: none;
    width: 100%;
    p{margin-left: 0.5%;};
}

main{
    
    margin-left: 0.5%;
    margin-top: 1%;
    
}

.aragon_description{
    display: inline-block;
    vertical-align: top;
    align-items: center;
    margin-left: 1%;
}

.minecraft_screenshot{
    margin-top: 1%;
    text-align: right;
    align-items: center;
    
    width: 25%;
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

pre{
    white-space: pre-wrap;
    font-size: x-large;
}

video{
    margin-top: 0.5%;
    width: 45%;
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

img{
    margin-top: 0.5%;
    width: 45%;
    @media screen and (max-width: 480px) {
        width: 100%;
    }
}

.bg {
    background: url(../img/bg.png) no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 0;
    overflow: hidden;
}

.bg:before {
    content: '';
    background: inherit;
    filter: blur(10px) brightness(50%);
    position: fixed;
    z-index: -1;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
}

/* スクロールの幅の設定 */
body::-webkit-scrollbar {
width: 10px;
height: 10px;
}

/* スクロールの背景の設定 */
body::-webkit-scrollbar-track {
border-radius: 5px;
background: var(--bs-dark);
}

/* ドラックできるスクロール部の設定 */
body::-webkit-scrollbar-thumb {
border-radius: 5px;
background: var(--bs-gray);
}

.overview {
    align-content: center;
}

.img-desc {
    color: white;
}